.blog {
  padding: 40px 5%;
  background-color: white;
}

.post {
  position: relative;
  padding-right: 80px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.post img {
  width: 100%;
}

.read-button {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
}

.read-button:hover {
  background-color: white;
  color: black;
}


.blog-sidebars{
  padding-left: 20px;
}

.cloud {
  display: inline;
  list-style-type: none;
  width: 400px;
}
.cloud a {
  text-decoration: none;
}
.cloud li {
    list-style: none;
    display: inline;
}
.cloud li:nth-of-type(3n + 1) {
    font-size: 1.25em;
}
.cloud li:nth-of-type(4n+3) {
    font-size: 1.5em;
}
.cloud li:nth-of-type(5n - 3) {
    font-size: 1em;
}

.celebrity {
  position: relative;
  height: 500px;
  padding: 0px;
  margin: 0 10px;
  margin-bottom: 20px;
}


.celebrity-tour{
  padding: 40px 5%;
  background-color: white;
}
.row-celebrity {
  min-height: 400px;
  width: 100%;
  padding: none;
  margin-bottom: 20px;
}
.row-large-img {
  height: 400px;
  margin-bottom: 20px;
}
.row-large-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.row-description {
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.row-small-img {
  min-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.row-small-img img{
  width: 100px;
  height:100px;
  object-fit: cover;
  object-position: center;
}
